<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout">
<title>Admin Login - Santana Auto Mecânica</title>
<main>
    <section class="admin-login">
        <h2>Área do Administrador</h2>
        <form method="post" action="/login">
            <label>Usuário</label>
            <input type="text" name="username" />
            <label>Senha</label>
            <input type="password" name="password" />
            <button class="btn" type="submit">Entrar</button>
        </form>
    </section>
</main>
</html>
